/* @import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"; */
body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: white;
}
.login-box{
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}
.login-box h1{
  float: left;
  font-size: 40px;
  border-bottom: 6px solid #244b8d;
  margin-bottom: 50px;
  padding: 13px 0
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #A4A4A4;
}
.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}
.textbox input{
  border: none;
  outline: none;
  background: none;
  color: black;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 10px;
}
.btn{
  width: 100%;
  background: none;
  border: 2px solid #244b8d;
  color: black;
  padding: 5px;
  font-size: 18px;
  margin: 12px 0;
  position: absolute;
  /* transition: .6s; */
  overflow: hidden;
}
.btn:focus{
  outline: none;
}
/* .btn:before{
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, .5);
  opacity: .5s;
  filter: blur(30px);
  transform: translateX(-130px) skewX(-15deg);
} */
/* .btn:after{
  content: "";
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, .2);
  opacity: 0;
  filter: blur(30px);
  transform: translateX(-100px) skewX(-15deg);
} */
.btn:hover{
  background: #244b8d;
  color: white;
  cursor: pointer;
}
/* .btn:hover:before{
  transform: translateX(300px) skewX(-15deg);
  opacity: .6;
  transition: .7;
} */
/* .btn:hover:after{
  transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  transition: .7;
} */